#ttt {
  width: 300px;
  height: 250px;
  margin-left: 200px;
}

#cr7 {
  width: 200px;
  height: 200px;
  margin-right: 200px;
}
#rata {
  width: 200px;
  height: 200px;
  margin-left: 200px;
}
